.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
.magnifyingGlass {
  width: 2em;
  height: 2em;
  background-image: url('https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-glyph-1/32/-_Magnifier-Search-Zoom--1024.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.magnifyingGlassFoccussed {
  width: 2em;
  height: 2em;
  background-image: url('https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-glyph-1/32/-_Magnifier-Search-Zoom--1024.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.input {
  width: 20em;
  padding: 10px;
  border: 0;
  outline: none;
  overflow: hidden;
  margin-right: 20px;
}

.form{
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  max-width: 300px;
  border-radius: 20px;
  display:none
}

.formFoccussed{
  display: flex
}
.buttonFoccussed{
  display: none
}
.buttonSearch{
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
}
.cross {
  margin: 10px;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.displayMobile {
  display: none;
}

.displayDesktop {
  display: block;
}

@media (max-width: 960px) {
  .displayMobile {
    display: block;
  }

  .displayDesktop {
    display: none;
  }
}