.btn {
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }
  100% {
    background-size: 200% 200%;
    opacity: 0;
  }
}

.pulse {
  position: relative;
}

.pulse::after {
  animation: pulse 200ms 1 forwards;
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: radial-gradient(
      circle at center,
      transparent,
      rgb(0 0 0 / 0.2) 30%
    )
    center center;
}
